* {
  box-sizing: border-box;
}

:root {
  --highlightcolor: #86af49;
  --lowlightcolor: #b5e7a0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 1.15em;
}

header {
  background: var(--highlightcolor);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

h1 {
  margin: 0;
  padding: 10px;
}


ul{
list-style: none;
}

article {
  text-align: left;
}


footer {
  padding: 15px;
  width: 100%;
  background: var(--lowlightcolor);
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
}

.main {
  float: left;
  width: 50%;
  padding-bottom: 100px;
}

.right {
  float: left;
  width: 50%;
  padding: 15px;
  margin-top: 7px;
  padding-bottom: 100px;
}

@media screen and (max-width: 800px) {
  .main,
  .right {
    width: 100%;
  }

  .main { padding-bottom: 0;}
}
